<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915467532005-facaavn7k7qrimj35gq31vi67n5fj3u8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915467532005-facaavn7k7qrimj35gq31vi67n5fj3u8</string>
	<key>API_KEY</key>
	<string>AIzaSyBytL_9OQwCqR9V6b9aa0xvCF_TmbFPgvk</string>
	<key>GCM_SENDER_ID</key>
	<string>915467532005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPractical</string>
	<key>PROJECT_ID</key>
	<string>flutterpractical-9fc40</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterpractical-9fc40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915467532005:ios:4bb10f61e45a11cf27c60c</string>
</dict>
</plist>